@tailwind base;
@tailwind components;
@tailwind utilities;
/* Estilos generales para el body y el contenedor */
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  /* Estilos para el contenedor del layout */
  /* Asegura que el layout ocupe toda la altura de la pantalla */
  .flex-col {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Estilos para el contenido principal (router) */
  /* Flex-grow se expandirá para llenar el espacio restante */
  .flex-grow {
    flex-grow: 1;
  }
  